registry="https://registry.npm.taobao.org"

@peppa:registry=https://registry.npm.bg.huohua.cn
@huohua:registry=https://registry.npm.bg.huohua.cn
@classroom:registry=https://registry.npm.bg.huohua.cn
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli
